# The format of this config file is 'key = value'.
# The key has the format 'model.scenario.key'. Value is mostly int64_t.
# Model maybe '*' as wildcard. In that case the value applies to all models.
# All times are in milliseconds.

*.*.max_query_count = 0
*.*.samples_per_query = 1
*.*.target_qps = 1
*.*.target_latency = 1
